#!/usr/bin/make -f

# unused binaries
export DH_GOLANG_EXCLUDES = conformance gogoreplace test/mixbench
export DH_GOLANG_GO_GENERATE := 1
export PATH := $(CURDIR)/_build/bin:$(PATH)

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=_build
